body {
    font-family: 'Ubuntu', sans-serif;
}
strong {
    font-weight: 800;
}
h1 {
    color: #ffffff;
    font-size: 60px;
    text-shadow: 0px 0px 4px #000000;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.h2_div {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}
h2 {
    font-family: 'Garamond', serif;
    color: #ffffff;
    font-weight: 200;
    font-size: 22px;
    text-shadow: 0px 1px 1px #000000;
}
h3 {
    color: #000000;
    font-size: 24px;
    text-shadow: 0px 1px 1px #ffffff;
    margin-bottom: 10px;
    font-weight: 200;
    text-align: center;
}
.signup_div {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 15px;
    color: #000000;
}
#landing-icons {
    cursor: pointer;
    float: right;
    height: 43px;
    line-height: 43px;
    margin-right: 40px;
    margin-top: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Open Sans",sans-serif;
    font-size: 25px;
}
.field_name {
    margin-left: 30px;
    font-size: 12px;
    color: #404040;
    text-shadow: 0px 1px 1px #ffffff;
}
.field_number {
    color: #ffffff;
    background-color: #000000;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 3px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.submit_button {
    color: #ffffff;
    background-color: #000000;
    border-radius: 3px;
    border: 1px solid #000000;
    font-size: 14px;
    font-weight: bold;
    margin-right: 3px;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}
.text_field {
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    border: 1px solid #c0c0c0;
    border-bottom: 1px solid #a0a0a0;
}
