<!DOCTYPE html>
<html ng-app="bullyalert_app">

<head>
	<?# def.include('common_head.html') ?>
</head>

<body>
	<div class="jumbotron">
		<div class="container">
			<h1>BULLY ALERT</h1>
			<form role="form" class="form-inline">
				<div class="form-group">
					<input class="form-control" 
						type="text" 
						placeholder="Enter Name"/>
				</div>
				<div class="form-group">
					<input class="form-control" 
						class="btn btn-default"
						type="submit"/>
				</div>
			</form>
		</div>
	</div>
	<?# def.include('common_scripts.html') ?>
</body>

</html>
